name: Update documentation on GitHub Pages

on:
  workflow_run:
    workflows: ["Update changelog and version"]
    types: [completed]

concurrency:
  group: "update"
  cancel-in-progress: false

jobs:
  # Build job
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Setup | Checkout Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup | Install uv # https://docs.astral.sh/uv/guides/integration/github/#using-uv-in-github-actions
        uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5
        with:
          enable-cache: false

      - name: Setup | Install Python # https://docs.astral.sh/uv/guides/integration/github/#setting-up-python
        run: uv python install

      - name: Setup | Restore uv cache for docs
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ${{ github.workspace }}/.uv_cache
          key: uv-docs-${{ hashFiles('uv.lock') }}

      - name: Run | Build static HTML documentation using Sphinx
        id: build
        run: make docs

      - name: Run | Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3
        with:
          path: docs/build/html/

  # Deployment job
  deploy-docs:
    # Add a dependency to the build job
    needs: build-docs

    # Grant GITHUB_TOKEN the permissions required to make a GitHub Pages deployment
    permissions:
      pages: write # to deploy to GitHub Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the GitHub Pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Run | Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
